body{
  background-color: white;
}

h1{
  font-size: 50px;
  padding:0px 180px;
  text-decoration: underline;
}


.topnav a{
  float:left;
  text-align: center;
   font-size: 15px;
   
}
.topnav-right {
  float: right;
  font-size: 15px;
}
.header {
  
  text-align: center;
  background:white;
  color: black;
  font-size: 30px;
  text-align: center;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
/* color : whitesmoke;*/

}

button{
  border-radius: 9px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 3px 5px;
  text-align: center;
  font-size: 10px;
  transition: 1s;
}
button:hover{
  transform: scale(1.1);
}
.active{
  background-color:white;  
  position: absolute;
  animation-name: example;
  animation-duration: 10s;
  animation-delay: 2s;

}

nav {

  position: fixed;
  top: 80;
  width: 80;
  /*overflow: hidden;
  float: left;*/
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*display: flex;
  justify-content: space-between;*/
}

nav li {
  float: left;
  margin-right: 10px;
    font-size: 15px;
}

nav li:last-child{
  margin-right: 0;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 3px 5px;
  text-decoration: none;
  transition: all 2s;
  background-color: pink;
}

nav li a:hover {
  background-color: skyblue;
  transform: scale(0.9);
}
.paragraph{
  padding:0px 10px;
}
.h2{
  padding: 0px 10px;
}

.fcontainer{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    color: black;
    text-decoration: underline;
  }
  
   .fitem{
    
    /* background-color: red; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px; 
    width: 200px;
    height: 200px;
    
    transition: all 0.5s ease-in-out;
  }
  .fitem:hover{
    transform: scale(1.1);
  }
  .fitem img{
    width: 100%;
    height: 90%;
    
    
  }
  .fitem p{
    text-align: center;
  }

/*.sidenav {
  height: 50%;
  width: 100px;
  position: fixed;
  z-index: 1;
  background-color: white;
  overflow-x: hidden;
  padding-top: 30px;
}

.sidenav a {
  /*padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  padding-top: 30px;
}

.sidenav a:hover {
  color: #f1f1f1;
}


 main {
        padding: 20px;
        margin: 10px;
    }

    aside {
        width: 200px;
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
        float: left;
        padding-top: 30px;
    }
*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  padding: 0px 10px;
}

td, th,tr {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;

}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */
h2{
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  margin-top: -8px;
  
}

/*.sidebar {
  margin: 0;
  padding-top: 30px;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}*/
.sidebar {
  height: 185%;
  width: 200px;
  position: absolute;
  z-index: 1;
  background-color: white;
  overflow-x: hidden;
  margin-top: 50px;
  text-align: center;
  
  border: 1px solid black;
}

/* Sidebar links */
.sidebar a {
  /*padding: 6px 8px 6px 16px;*/
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.thumbnail { 
padding:20px;
display:block; 
/*z-index:999; */
cursor: pointer; 
-webkit-transition-property: all; 
-webkit-transition-duration: 0.1s; 
-webkit-transition-timing-function: ease; 
} 

/*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
transform: scale(1.6); 

}